body {
    background-color: #3b5998;
    font-family: Arial, sans-serif;
    color: #fff;
  }

  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .aboutus {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  