.disclaimer {
    font-size: 12px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-widget-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left; 
  }
  
  .content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: 100px;
  }
  
  .icon-text {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
  }
  
  .mail-anchor,
  .tel-anchor,
  .address-anchor {
    margin-left: 10px; 
  }
  
  .footer-logo {
    width: 150px;
    height: 75px;
    margin-right: 10px; 
    margin-bottom: 20px;
    align-self: flex-start;
  }