.container {
    max-width: 80%;
    margin: 0 auto;
    background-image: 'home.jpg';
  }
  
  .homeContent {
    text-align: center;
    padding-top: 0px;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .welcometext {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .servicetext {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .services {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.servicelist {
    width: 30%;
    margin: 10px;
    font-size: 1.2rem;
  }
  
.carousel {
  width: 75%;
}