.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.servicesContent {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.servicesContent p:last-child {
  margin-bottom: 0;
}
